Magic 271485
Revision Verdi_R-2020.12-SP2

; Window Layout <x> <y> <width> <height> <signalwidth> <valuewidth>
viewPort 0 25 1280 562 172 49

; File list:
; openDirFile [-d delimiter] [-s time_offset] [-rf auto_bus_rule_file] path_name file_name
openDirFile -d / "" "/mnt/vol_NFS_rh003/estudiantes/marco_rojas/riscv_test_fpga_ver/Verificacion_RISCV_TEC/test_env/core_spi_uart/inter.fsdb"

; file time scale:
; fileTimeScale ### s|ms|us|ns|ps

; signal spacing:
signalSpacing 5

; windowTimeUnit is used for zoom, cursor & marker
; waveform viewport range
zoom 734371000.000000 8237787250.000000
cursor 8156225000.000000
marker 0.000000

; user define markers
; userMarker time_pos marker_name color linestyle
; visible top row signal index
top 4
; marker line index
markerPos 24

; event list
; addEvent event_name event_expression
; curEvent event_name



COMPLEX_EVENT_BEGIN


COMPLEX_EVENT_END



; toolbar current search type
; curSTATUS search_type
curSTATUS ByChange


addGroup "uut"
activeDirFile "" "/mnt/vol_NFS_rh003/estudiantes/marco_rojas/riscv_test_fpga_ver/Verificacion_RISCV_TEC/test_env/core_spi_uart/inter.fsdb"
addSignal -h 15 /topcore_tb/uut/clk
addSignal -h 15 /topcore_tb/uut/reset
addSignal -h 15 /topcore_tb/uut/MISO
addSignal -h 15 /topcore_tb/uut/RX_UART
addSignal -h 15 /topcore_tb/uut/maip
addSignal -h 15 /topcore_tb/uut/MOSI
addSignal -h 15 /topcore_tb/uut/SCLK
addSignal -h 15 /topcore_tb/uut/SCS
addSignal -h 15 /topcore_tb/uut/TX_UART
addSignal -h 15 -UNSIGNED -HEX /topcore_tb/uut/full_range_level_shifter[7:0]
addSignal -h 15 -UNSIGNED -HEX /topcore_tb/uut/IS_Val[31:0]
addSignal -h 15 -UNSIGNED -HEX /topcore_tb/uut/IS_Config[31:0]
addSignal -h 15 -UNSIGNED -HEX /topcore_tb/uut/IS_Trigger[3:0]
addSignal -h 15 -UNSIGNED -HEX /topcore_tb/uut/Reg_GPIO_en[7:0]
addSignal -h 15 -UNSIGNED -HEX /topcore_tb/uut/Reg_GPIO_int[7:0]
addSignal -expanded -h 15 -UNSIGNED -HEX /topcore_tb/uut/Reg_GPIO_out[7:0]
addSignal -h 15 /topcore_tb/uut/Reg_GPIO_out[7]
addSignal -h 15 /topcore_tb/uut/Reg_GPIO_out[6]
addSignal -h 15 /topcore_tb/uut/Reg_GPIO_out[5]
addSignal -h 15 /topcore_tb/uut/Reg_GPIO_out[4]
addSignal -h 15 /topcore_tb/uut/Reg_GPIO_out[3]
addSignal -h 15 /topcore_tb/uut/Reg_GPIO_out[2]
addSignal -h 15 /topcore_tb/uut/Reg_GPIO_out[1]
addSignal -h 15 /topcore_tb/uut/Reg_GPIO_out[0]
addGroup "G2"

; getSignalForm Scope Hierarchy Status
; active file of getSignalForm

